body {
  font-family: "Poppins", sans-serif; }

.about-us {
  background-color: #f9f9f9;
  padding: 120px 0;
  position: relative; }
  .about-us .about-us-img img {
    width: 100%;
    height: auto; }
  .about-us .about-us-content h4 {
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #e26d2f;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: -5px; }
  .about-us .about-us-content h2 {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #0e2048;
    margin-bottom: 22px;
    margin-top: -5px;
    line-height: 1.2; }
    .about-us .about-us-content h2 span {
      color: #e26d2f; }
  .about-us .about-us-content p {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #333;
    line-height: 25px;
    margin-bottom: 13px; }
  .about-us .about-us-content .abous-us-more {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #e26d2f;
    margin-top: 30px;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.2s; }
  .about-us .about-us-content .abous-us-more:hover {
    text-decoration: none;
    color: #333; }

.provide {
  background-color: #fff;
  padding: 120px 0;
  position: relative; }
  .provide .provide-title {
    position: relative;
    margin-bottom: 20px; }
    .provide .provide-title h4 {
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 1px;
      color: #e26d2f;
      margin-bottom: 22px;
      margin-top: 1px; }
    .provide .provide-title h2 {
      font-size: 36px;
      font-weight: 700;
      letter-spacing: 1px;
      color: #0e2048;
      margin-bottom: 22px;
      margin-top: -5px;
      line-height: 1.2; }
      .provide .provide-title h2 span {
        color: #e26d2f; }
    .provide .provide-title p {
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 1px;
      color: #333;
      max-width: 750px;
      margin: 0 auto; }
    .provide .provide-title ::after {
      content: "";
      background-image: url("../../assets/images/title-bg.png");
      height: 185px;
      width: 165px;
      position: absolute;
      left: 50%;
      top: 38%;
      transform: translateY(-50%) translateX(-50%);
      background-repeat: no-repeat;
      opacity: .3; }
  .provide .provide-card {
    position: relative; }
    .provide .provide-card .provide-img {
      border: 2px solid #e26d2f;
      overflow: hidden; }
      .provide .provide-card .provide-img > a {
        display: block; }
      .provide .provide-card .provide-img img {
        width: 100%;
        transition: all 0.3s; }
    .provide .provide-card h5 {
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.5px;
      color: #eee;
      position: absolute;
      width: 70%;
      left: 50%;
      transform: translateX(-50%);
      margin-top: -30px;
      margin-bottom: 0px; }
      .provide .provide-card h5 a {
        background: #ffffff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        padding: 12px 0;
        display: block;
        text-align: center;
        transition: all 0.2s;
        color: #222; }
      .provide .provide-card h5 a:hover {
        background-color: #e26d2f;
        color: #fff;
        text-decoration: none; }
    .provide .provide-card .provide-content {
      background-color: #fff;
      padding: 30px 30px 25px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      text-align: center; }
      .provide .provide-card .provide-content p {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.5px;
        color: #000;
        margin-bottom: 0px; }

.video-area {
  background-image: url("../../assets/images/bg-02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 120px 0;
  z-index: 1; }
  .video-area .video-box-content {
    background-color: #fff;
    padding: 80px 125px 80px 100px;
    position: relative;
    margin-left: -100px;
    margin-bottom: -235px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
    .video-area .video-box-content .videp-content-title h2 {
      font-size: 48px;
      font-weight: 500;
      letter-spacing: 0.5px;
      color: #0e2048;
      position: relative;
      padding-bottom: 20px;
      margin-bottom: 50px; }
      .video-area .video-box-content .videp-content-title h2 span {
        color: #e26d2f; }
      .video-area .video-box-content .videp-content-title h2 :after {
        position: absolute;
        content: "";
        background-color: #e26d2f;
        width: 70px;
        height: 3px;
        left: 0;
        bottom: 0; }
    .video-area .video-box-content .video-box-sub {
      margin-top: 20px;
      display: flex;
      flex-direction: row; }
      .video-area .video-box-content .video-box-sub .video-choose {
        background-color: #e26d2f;
        max-width: 80px;
        max-height: 80px;
        border-radius: 50%;
        margin-right: 30px; }
        .video-area .video-box-content .video-box-sub .video-choose img {
          max-width: 80px;
          max-height: 80px; }
      .video-area .video-box-content .video-box-sub .video-choose-content h3 {
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.5px;
        color: #222;
        margin-bottom: 8px; }
      .video-area .video-box-content .video-box-sub .video-choose-content p {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.5px;
        color: #222;
        line-height: 22px;
        margin-bottom: 0px; }
  .video-area .video-btn {
    position: absolute;
    top: 50%;
    right: 20%; }
    .video-area .video-btn a {
      top: 15px;
      position: relative;
      left: 20px;
      z-index: 9; }
    .video-area .video-btn .video-animation {
      position: absolute;
      width: 14rem;
      height: 14rem;
      left: -82px;
      top: -82px;
      z-index: 1;
      float: right; }
      .video-area .video-btn .video-animation .animation {
        position: absolute;
        width: 220px;
        height: 220px;
        background: rgba(226, 109, 47, 0.7);
        opacity: 0;
        border-radius: 50%;
        background-clip: padding-box;
        animation: waves 3s ease-in-out infinite;
        animation-delay: 0s; }
      .video-area .video-btn .video-animation .animation-1 {
        animation-delay: 0.5s; }
      .video-area .video-btn .video-animation .animation-2 {
        animation-delay: 1.5s; }
      .video-area .video-btn .video-animation .animation-3 {
        animation-delay: 2.5s; }
      .video-area .video-btn .video-animation .animation-4 {
        animation-delay: 3.5s; }

.video-area::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 1px;
  left: 0;
  z-index: -1; }

.provide-card:hover img {
  transform: scale(1.2) rotate(-3deg); }

.mt-30 {
  margin-top: 30px; }

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s; }

.fade-enter,
.fade-leave-to {
  opacity: 0; }

.zindex {
  z-index: 1; }

@media (min-width: 1200px) {
  .container {
    max-width: 1200px; } }

/*# sourceMappingURL=index.css.map */
